
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
:root {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  background: #ffffff;
  color: #444444;
 
}

/*--------------------------------------------------------------
# Sidebar
--------------------------------------------------------------*/
.first-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 50px;
  z-index: 996;
  transition: all 0.3s;
  padding: 10px;
  background-color: #E5E5E5;
  display: flex;
  align-items: center;
}


.first-sidebar-nav {
  padding: 0;
  margin: 0;
  list-style: none;
}

.first-sidebar-nav .nav-item{
  color: #757575;
  display: block;
  padding: 5px;
}

.first-sidebar-nav .nav-item2{
  display: block;
  padding: 5px;
}

.first-sidebar-nav .nav-item2 #logo{
  width: 30px;
  margin: 5px;
  margin-top: 0;
}

.first-sidebar-nav .nav-item i{
  font-size: 18px;
  margin: 10px;
}

.first-sidebar-nav .nav-item #more{
  color: #1Ef292;
  margin-bottom: -2px;
}
.first-sidebar-nav .nav-item span{
  color: #757575;
  font-size: 12px;
  display: flex;
  margin-top: -10px;
  margin-left: 5px;

}



.first-sidebar-nav .nav-item:hover {
  color: #1ED292;
  background-color: #ffffff;
}

.first-sidebar-nav .nav-item.active {
  color: #1ED292;
  background-color: #ffffff;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#first-sidenav-footer {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-top: auto;
}
.first-sidebar-nav .nav-item2 #profile{
  margin: 0;
  width: 40px;
  border-radius: 50%;
}







.sidemenu {
  position: fixed;
  top: 0;
  left: 50px;
  bottom: 0;
  padding: 20px;
  background-color: #F5F5F5;
  z-index: 400; 
  width: 100%;
}


.sidemenu-nav {
  padding: 0;
  margin: 0;
  list-style: none;
}

.sidemenu-nav .nav-item {
  margin-bottom: 5px;
}


.sidemenu-nav .nav-link {
  display: flex;
  align-items: center;
  font-size: 15px;
  color: #757575;
  transition: 0.3;
  padding: 10px 5px;
  border-radius: 4px;
}


.sidemenu-nav .nav-link:hover {
  color: #1ED292;
}

.sidemenu-nav .nav-link.active {
  color: #1ED292;
}



/*--------------------------------------------------------------
# Main - Employee Table
--------------------------------------------------------------*/
#main {
  position: absolute;
  top: 0;
  left: 300px;
  right: 0; 
  padding: 20px 30px;
  height: auto;
  background-color: white; 
  z-index: 500;
  box-shadow: -10px 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  transition: all 0.3s ease;
}

.toggle-sidebar #main{
  left: 30px;

}

.pagetitle i{
  padding-left: 20px;
  padding-right: 10px;
  font-size: 20px;
}

.pagetitle i.toggle-sidebar-btn{
  color: #1Ef292;

}

.pagetitle .vr{
  height: 20px;
  padding: 0;
}

.add {
  margin-left: auto; 
}
.add button{
  background-color: #1ED292;
  color: #ffffff;
  border-radius: 5px;
  border-width: 0;
  padding: 8px;
}


.fixed-table #profile {
  width: 20px;
  border-radius: 50%;
}

.fixed-table input {
display: none;
}

.fixed-table span{
  display: inline-block;
  width: 12px;
  height: 12px;
  border: 1px solid #8f8f8f;
  border-radius: 2px;
  margin-right: 10px;
  position: relative;
  margin-right: 30px;
  transform: scale(1.2);
  vertical-align: middle;
}

.fixed-table input:checked + span {
  background-color: #1ED292;
  border-color: #1ED292;
}


.fixed-table input:checked + span::before {
  content: '';
  position: absolute;
  top: 0;
  left: 3px;
  width: 4px;
  height: 8px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}



.fixed-column td label:hover{
  color: #1Ef292;
}

.table-container {
  display: flex;
}

.fixed-column {
  position: sticky;
  left: 0; 
  z-index: 10;
  background-color: white;
  width: 250px;
}

.fixed-table {
  border-right: 1px solid #ddd;
  box-shadow: 6px 0px 5px rgba(0, 0, 0, 0.1);
}
.fixed-table th,
.fixed-table td{
  padding-top: 20px;
  padding-bottom: 20px;

}

.scrollable-columns {
  overflow-x: auto;
  width: 100%; 
}

.main-table th,
.main-table td {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.main-table {
  width: 200%; 
}


.main-table th {
  text-align: left; 
}

/* Checked employees */

.checked-row {
  border-left: 2px solid #1Ef292;
}


.dptedit {
  cursor: pointer;
}

.dept-input {
  width: 100%;
  padding: 5px;
  box-sizing: border-box; /* Ensures padding is included in the width */
}

.suggestion-box {
  border: 1px solid #ccc;
  max-height: 150px;
  overflow-y: auto;
  background-color: white;
  position: absolute; 
  width: 20%;
  z-index: 1000;
}


.suggestion-box div {
  padding: 8px;
  cursor: pointer;
}

.suggestion-box div:hover {
  background-color: #f0f0f0;
}

.suggestion-box div:focus {
  outline: none; 
}

.suggestion-box div {
  transition: background-color 0.2s; 
}


/* Lowest */
.page-item.active .page-link {
  background-color: #1Ef292;
  color: white;
  border-color: #1Ef292;
}